@import "../variables.scss";

.pageContent {
  background-color: $primaryColor;
  color: white;
}


.topGainerContainer{
  padding: 50px;
  .topGainerList{
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    overflow-x: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      width: 5px;
      height: 7px;
    }
    .topGainerListItem{
      background-color: white;
      min-width: 467px;
      height: 200px;
      flex: 0 0 auto;
    }
  }
}