.container{
    margin:auto;
    gap: 2vw;
    padding: 5%;

    @media (max-width: 1024px) {
        gap: 1.5vw;
        padding: 3%;
    }

    @media (max-width: 768px) {
        gap: 0;
        padding: 1%;
    }
}

.wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.hero{
    flex-direction: column;
    gap: 2vw;
    width: 40%;

    @media (max-width: 768px) {
        width: 90%;
    }
}

.hero_text{
    flex-wrap: wrap;
    gap: 12px;
    width: 40%;

    @media (max-width: 768px) {
        width: 90%;
    }
}

.hero_text > p{
    font-weight: bold;
    font-size: 3vw;

    @media (max-width: 768px) {
        font-size: 9vw;
    }
}

.hero > p{
    font-weight: 600;
    font-size: 1.5vw;

    @media (max-width: 768px) {
        font-size: 4vw;
    }
}

.hero > div > div{
    gap: 1vh;
    flex-direction: row;
}

.hero_btns{
    gap: 1vh;
    flex-direction: row;
}

.hero_btns > button{
    padding: 1.3vw;

    @media (max-width: 768px) {
        padding: 3.8vw;
    }
}

.hero_btns > button > p{
    font-weight: bold;
    font-size: 1.3vw;

    @media (max-width: 768px) {
        font-size: 3.8vw;
    }
}

.hero_vault{
    background-image: url("/bg.svg");
    padding: 0.5vw;
    border-radius: 10px;
    width: 35%;

    @media (max-width: 1024px) {
        width: 40%;
    }

    @media (max-width: 768px) {
        display: none;
    }

    .content{
        background-color: #0f0b1f;
        border-radius: 10px;
        border-top: solid 2px #f6643c;
        border-bottom: solid 2px #f6643c;
        padding: 3vh;

        .flex{
            width: 100%;
            flex-direction: column;
            justify-content: center;
            gap: 2vh;

            .title{
                flex-direction: row; 
                align-items: center; 
                justify-content: space-between;

                .box{
                    width: 30%;
                    height: 30%;
                    border-radius: 15px;
                    overflow: hidden;
                }

                > div {

                    > p{
                        font-size: 1.3vw;
                        font-weight: bold;
                    }

                    > div{

                        > p{
                            font-size: 0.8vw;
                            font-weight: 100;
                        }
                    }
                }
            }
            .share{
                flex-direction: row;
                align-items: center;
                gap: 1wh;
    
                > div > div{
                    > p{
                        font-size: 1.5vw;
                    }
    
                    > div{
                        width: 20%;
                        height: 20%;
                        border-radius: 15px;
                        overflow: hidden;
                        background-color: transparent;
                    }
                }

                > div > p{
                    font-size: 1vw;
                }

                > p{
                    font-size: 1.5vw;
                }
            }
        }
    }
}

.plotlegend{
    flex-direction: row;
    justify-content: space-between;
    
    .date {
        font-size: 1vw;
        font-weight: 400;
    }

    .percent {
        font-size: 1.125vw;
        font-weight: 600;
    }
}