
<<<<<<< HEAD
.tabContainer{
    display: flex;
    flex-direction: column;
    overflow: hidden;
=======

.tabContainer{
    display: flex;
    flex-direction: column;
>>>>>>> pr/7
    .tabHeader{
        display: flex;
       justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        >button{
            // background-color: white;
            // color: black;
            min-width: 100px;
            padding: 5px;
            border-radius: 5px;
            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
    .tabContent{
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }
}