@import "./variables.scss";
@import "./helper.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #030135;
  --color-secondary: #f6643c;
  --color-danger: #91141d;
  --color-success: #0dab45;
}

body {
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// page navbar with content
div.page {
  --sidebar-width: 260px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr var(--sidebar-width);
  height: 100vh;
  max-height: 100vh;
  .page__content {
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }
  .page__wrapper {
    background-color: $primaryColor;
    box-sizing: border-box;
    color: white;
    position: relative;
    overflow: hidden;
  }
  .page__backdrop {
    --dot1Color: #f6643c;
    --dot2Color: #ffffff;
    background: radial-gradient(
        circle 30vh at 55vw 30vh,
        var(--dot2Color) 80%,
        transparent
      ),
      radial-gradient(
        circle 50vh at 25vw -10vh,
        var(--dot1Color) 80%,
        transparent
      );
    filter: blur(20px);
    -webkit-filter: blur(20px);
    opacity: 0.5;
    position: absolute;
    inset: 0;
    z-index: 0;
  }
  .page__sidebar_wrapper {
    position: relative;
    .page__sidebar_backdrop{
      position: absolute;
      inset: 0;
      background: #0000008f;
      opacity: 1;
      /* filter: blur(127px); */
      backdrop-filter: blur(2px);
    }
    .page__sidebar, .page__sidebar_toggler{
      position: absolute;
      inset: 0;
      transition: left 0.2s;
    }

    .page__sidebar{
      background-color: var(--color-primary);
      border-left: 1px solid #0b0951;
      color: white;
      padding: 12px 16px;
    }
    .page__sidebar_toggler{
      bottom: 20px;
      font-size: 12px;
      color: white;
      top: auto;
      left: -18px;
      display: flex;
      align-items: center;
      button{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: transparent;
        background-image: url("/sidebar_open.svg");
      }
    }

    &.page__sidebar_open{
      .page__sidebar{
        left: calc(-80vw + var(--sidebar-width));
      }
      .page__sidebar_toggler{
        left: calc(-80vw + var(--sidebar-width) - 18px);
      }
      .page__sidebar_backdrop{
        left: calc(-100vw + var(--sidebar-width));
      }
      .page__sidebar_toggler{
        button{
          background-image: url("/sidebar_close.svg");
        }
      }
    }
  }
}

// dotted pattern for background
.bg__dotted {
  // --m: 5px;
  // --dotColor: hsla(0, 0%, 0%, 10%);
  // --bgColor: rgba(3, 1, 53, 30%);
  // $sizey: calc(var(--m) * 3); // height
  // $sizex: calc(var(--m) * 2); // width
  // $dotSize: calc(var(--m) * 1.25); // half of square

  // background-image:
  // radial-gradient(circle $dotSize at 75% 75%, var(--dotColor) 40%, transparent 40%),
  // radial-gradient(circle $dotSize at 25% 25%, var(--dotColor) 40%, transparent 40%);
  // background-color: var(--bgColor);
  // background-size: $sizex $sizey;
  background-image: url("/bg.svg");
}

button {
  --text: #ffffff;
  --bg: var(--color-primary, black);
  color: var(--text);
  background-color: var(--bg);
  padding: 8px 12px;
  border-width: 0px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: var(--hover-bg, var(--text));
    color: var(--hover-text, var(--bg));
  }
  &[data-color="primary"] {
    --text: #ffffff;
    --bg: var(--color-primary, black);
  }
  &[data-color="secondary"] {
    --text: #ffffff;
    --bg: var(--color-secondary, black);
  }
  &[data-color="white"] {
    --text: var(--color-secondary, black);
    --bg: white;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-track {
  /* background: transparent; */
  background: $primaryColor;
}
::-webkit-scrollbar-thumb {
  background: $secondaryColor;
  border-radius: 19px;
  border: 0;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
}
