$widthPercentageList: 0, 25, 50, 100;
@each $w in $widthPercentageList {
  .w-#{$w} {
    width: $w * 1% !important;
  }
}

$widthPixelList: 0, 25, 50, 100;
@each $w in $widthPixelList {
  .w-#{$w}-px {
    width: $w * 1px !important;
  }
}

$fontSizes: 10, 12, 14, 16, 18, 20, 22, 24, 28, 32, 35, 36, 38, 40, 48, 96;
@each $fs in $fontSizes {
  .fs-#{$fs} {
    font-size: $fs * 1px;
  }
}

$fontWeights: 100, 200, 300, 400, 500, 600, 700, 800, 900, bold;
@each $fw in $fontWeights {
  .fw-#{$fw} {
    font-weight: $fw;
  }
}

$borderRadius: 0, 5, 10, 15;
@each $br in $borderRadius {
  .border-radius-#{$br} {
    border-radius: $br * 1px;
  }
}

$colors: (
  "primary": $primaryColor,
  "white": #fff,
  "black": #000,
  "danger": $dangerColor,
  "success": $successColor,
);

@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: $value;
  }
  .text-#{$name} {
    color: $value;
  }
}

.d-flex {
  display: flex;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}

$textAlign: center, start, end;
@each $value in $textAlign {
  .text-align-#{$value} {
    text-align: $value;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.text-right {
  text-align: right;
}

$justifyContent: center, baseline, start, flex-start, end, flex-end,
  space-around, space-between, space-evenly, stretch;
@each $value in $justifyContent {
  .justify-content-#{$value} {
    justify-content: $value;
  }
}

$alignItems: center, baseline, start, flex-start, end, flex-end, space-around,
  space-between, space-evenly, stretch;
@each $value in $alignItems {
  .align-items-#{$value} {
    align-items: $value;
  }
}

.grid-container {
  display: grid;
  gap: var(--gap, 0);
  grid-template-columns: repeat(var(--cols, 12), auto);
  grid-template-rows: repeat(var(--rows, auto), auto);
  min-height: 100%;
  > * {
    grid-column: var(--grid-col, auto / auto);
    grid-row: var(--grid-row, auto / auto);
    &.full-width {
      --grid-col: 1 / -1;
    }
  }
}
